menu "Environment IoT Configuration"

    config FARM_NAME
        string "Farm name"
        default "01"
        help
            Name of the farm
    
    config BARN_NAME
        string "Barn name"
        default "01"
        help
            Name of the Barn
    
    config DEVICE_NAME
        string "Device name"
        default "01"
        help
            Name of the device

    config CONNECT_WIFI
        bool "Enable WiFi interface"
        default y
        help
            Protocol examples can use Wi-Fi and/or Ethernet to connect to the network.
            Choose this option to connect with WiFi

    if CONNECT_WIFI
        config WIFI_SSID
            string "WiFi SSID"
            default "myssid"
            help
                SSID (network name) for the example to connect to.

        config WIFI_PASSWORD
            string "WiFi Password"
            default "mypassword"
            help
                WiFi password (WPA or WPA2) for the example to use.
                Can be left blank if the network has no security set.
        
        config LISTEN_INTERVAL
            int "WiFi listen interval"
            default 3
            help
                Interval for station to listen to beacon from AP. The unit of listen interval is one beacon interval.
                For example, if beacon interval is 100 ms and listen interval is 3, the interval for station to listen
                to beacon is 300 ms.

        choice POWER_SAVE_MODE
            prompt "Power save mode"
            default POWER_SAVE_MIN
            help
                Power save mode for the esp32 to use. Modem sleep mode includes minimum and maximum power save modes.
                In minimum power save mode, station wakes up every DTIM to receive beacon. Broadcast data will not be
                lost because it is transmitted after DTIM. However, it can not save much more power if DTIM is short
                for DTIM is determined by AP.
                In maximum power save mode, station wakes up every listen interval to receive beacon. Broadcast data
                may be lost because station may be in sleep state at DTIM time. If listen interval is longer, more power
                is saved but broadcast data is more easy to lose.

            config POWER_SAVE_NONE
                bool "none"
            config POWER_SAVE_MIN
                bool "minimum power save"
            config POWER_SAVE_MAX
                bool "maximum power save"
        endchoice

        choice MAX_CPU_FREQ
            prompt "Maximum CPU frequency"
            default MAX_CPU_FREQ_80
            help
                Maximum CPU frequency to use for dynamic frequency scaling.

            config MAX_CPU_FREQ_80
                bool "80 MHz"
            config MAX_CPU_FREQ_160
                bool "160 MHz"
            config MAX_CPU_FREQ_240
                bool "240 MHz"
        endchoice

        config MAX_CPU_FREQ_MHZ
            int
            default 80 if MAX_CPU_FREQ_80
            default 160 if MAX_CPU_FREQ_160
            default 240 if MAX_CPU_FREQ_240


        choice MIN_CPU_FREQ
            prompt "Minimum CPU frequency"
            default MIN_CPU_FREQ_10M
            help
                Minimum CPU frequency to use for dynamic frequency scaling.
                Should be set to XTAL frequency or XTAL frequency divided by integer.

            config MIN_CPU_FREQ_40M
                bool "40 MHz (use with 40MHz XTAL)"
                depends on IDF_TARGET_ESP32S2 || ESP32_XTAL_FREQ_40 || ESP32_XTAL_FREQ_AUTO
            config MIN_CPU_FREQ_20M
                bool "20 MHz (use with 40MHz XTAL)"
                depends on IDF_TARGET_ESP32S2 || ESP32_XTAL_FREQ_40 || ESP32_XTAL_FREQ_AUTO
            config MIN_CPU_FREQ_10M
                bool "10 MHz (use with 40MHz XTAL)"
                depends on IDF_TARGET_ESP32S2 || ESP32_XTAL_FREQ_40 || ESP32_XTAL_FREQ_AUTO
            config MIN_CPU_FREQ_26M
                bool "26 MHz (use with 26MHz XTAL)"
                depends on ESP32_XTAL_FREQ_26 || ESP32_XTAL_FREQ_AUTO
            config MIN_CPU_FREQ_13M
                bool "13 MHz (use with 26MHz XTAL)"
                depends on ESP32_XTAL_FREQ_26 || ESP32_XTAL_FREQ_AUTO
        endchoice

        config MIN_CPU_FREQ_MHZ
            int
            default 40 if MIN_CPU_FREQ_40M
            default 20 if MIN_CPU_FREQ_20M
            default 10 if MIN_CPU_FREQ_10M
            default 26 if MIN_CPU_FREQ_26M
            default 13 if MIN_CPU_FREQ_13M

    endif

    config CONNECT_ETHERNET
        bool "Enable Ethernet interface"
        default n
        help
            Protocol examples can use Wi-Fi and/or Ethernet to connect to the network.
            Choose this option to connect with Ethernet

    if CONNECT_ETHERNET
        choice USE_ETHERNET
            prompt "Ethernet Type"
            default USE_INTERNAL_ETHERNET if IDF_TARGET_ESP32
            default USE_DM9051 if !IDF_TARGET_ESP32
            help
                Select which kind of Ethernet will be used in the example.

            config USE_INTERNAL_ETHERNET
                depends on IDF_TARGET_ESP32
                select ETH_USE_ESP32_EMAC
                bool "Internal EMAC"
                help
                    Select internal Ethernet MAC controller.

            config USE_DM9051
                bool "DM9051 Module"
                select ETH_USE_SPI_ETHERNET
                select ETH_SPI_ETHERNET_DM9051
                help
                    Select external SPI-Ethernet module.

            config USE_OPENETH
                bool "OpenCores Ethernet MAC (EXPERIMENTAL)"
                select ETH_USE_OPENETH
                help
                    When this option is enabled, the example is built with support for
                    OpenCores Ethernet MAC, which allows testing the example in QEMU.
                    Note that this option is used for internal testing purposes, and
                    not officially supported. Examples built with this option enabled
                    will not run on a real ESP32 chip.

        endchoice

        if USE_INTERNAL_ETHERNET
            choice ETH_PHY_MODEL
                prompt "Ethernet PHY Device"
                default ETH_PHY_IP101
                help
                    Select the Ethernet PHY device to use in the example.

                config ETH_PHY_IP101
                    bool "IP101"
                    help
                        IP101 is a single port 10/100 MII/RMII/TP/Fiber Fast Ethernet Transceiver.
                        Goto http://www.icplus.com.tw/pp-IP101G.html for more information about it.

                config ETH_PHY_RTL8201
                    bool "RTL8201/SR8201"
                    help
                        RTL8201F/SR8201F is a single port 10/100Mb Ethernet Transceiver with auto MDIX.
                        Goto http://www.corechip-sz.com/productsview.asp?id=22 for more information about it.

                config ETH_PHY_LAN8720
                    bool "LAN8720"
                    help
                        LAN8720A is a small footprint RMII 10/100 Ethernet Transceiver with HP Auto-MDIX Support.
                        Goto https://www.microchip.com/LAN8720A for more information about it.

                config ETH_PHY_DP83848
                    bool "DP83848"
                    help
                        DP83848 is a single port 10/100Mb/s Ethernet Physical Layer Transceiver.
                        Goto http://www.ti.com/product/DP83848J for more information about it.
            endchoice

            config ETH_MDC_GPIO
                int "SMI MDC GPIO number"
                default 23
                help
                    Set the GPIO number used by SMI MDC.

            config ETH_MDIO_GPIO
                int "SMI MDIO GPIO number"
                default 18
                help
                    Set the GPIO number used by SMI MDIO.
        endif

        if USE_DM9051
            config DM9051_SPI_HOST
                int "SPI Host Number"
                range 0 2
                default 1
                help
                    Set the SPI host used to communicate with DM9051.

            config DM9051_SCLK_GPIO
                int "SPI SCLK GPIO number"
                range 0 33
                default 19
                help
                    Set the GPIO number used by SPI SCLK.

            config DM9051_MOSI_GPIO
                int "SPI MOSI GPIO number"
                range 0 33
                default 23
                help
                    Set the GPIO number used by SPI MOSI.

            config DM9051_MISO_GPIO
                int "SPI MISO GPIO number"
                range 0 33
                default 25
                help
                    Set the GPIO number used by SPI MISO.

            config DM9051_CS_GPIO
                int "SPI CS GPIO number"
                range 0 33
                default 22
                help
                    Set the GPIO number used by SPI CS.

            config DM9051_SPI_CLOCK_MHZ
                int "SPI clock speed (MHz)"
                range 20 80
                default 20
                help
                    Set the clock speed (MHz) of SPI interface.

            config DM9051_INT_GPIO
                int "Interrupt GPIO number"
                default 4
                help
                    Set the GPIO number used by DM9051 interrupt.
        endif

        config ETH_PHY_RST_GPIO
            int "PHY Reset GPIO number"
            default 5
            help
                Set the GPIO number used to reset PHY chip.
                Set to -1 to disable PHY chip hardware reset.

        config ETH_PHY_ADDR
            int "PHY Address"
            range 0 31 if USE_INTERNAL_ETHERNET
            range 1 1 if !USE_INTERNAL_ETHERNET
            default 1
            help
                Set PHY address according your board schematic.
    endif

    config CONNECT_IPV6
        bool "Obtain IPv6 address"
        default y
        help
            By default, examples will wait until IPv4 and IPv6 local link addresses are obtained.
            Disable this option if the network does not support IPv6.
            Choose the preferred IPv6 address type if the connection code should wait until other than
            the local link address gets assigned.

        if CONNECT_IPV6
            choice CONNECT_PREFERRED_IPV6
                prompt "Preferred IPv6 Type"
                default CONNECT_IPV6_PREF_LOCAL_LINK
                help
                    Select which kind of IPv6 address the connect logic waits for.

                config CONNECT_IPV6_PREF_LOCAL_LINK
                    bool "Local Link Address"
                    help
                        Blocks until Local link address assigned.

                config CONNECT_IPV6_PREF_GLOBAL
                    bool "Global Address"
                    help
                        Blocks until Global address assigned.

                config CONNECT_IPV6_PREF_SITE_LOCAL
                    bool "Site Local Address"
                    help
                        Blocks until Site link address assigned.

                config CONNECT_IPV6_PREF_UNIQUE_LOCAL
                    bool "Unique Local Link Address"
                    help
                        Blocks until Unique local address assigned.
            endchoice

        endif

    config STATIC_IP
        bool "Connect using static IP"
        default n
        help
            Choose this option to connect with static IP.

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipse.org"
        help
            URL of the broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"


endmenu

